<footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper">
      <div class="footer_top">{{ settings.footer_panel_top }}</div>
      <div class="footer_middle">{{ settings.footer_panel_middle }}</div>
      <div class="footer_bottom">{{ settings.footer_panel_bottom }}</div>
       <hr>

      <div class="grid">
       
        {% unless shop.enabled_payment_types == empty %}
          <div class="grid__item large--one-half large--text-left medium-down--text-center">
            <ul class="inline-list payment-icons">
              {% for type in shop.enabled_payment_types %}
                <li>
                  <span class="icon-fallback-text">
                    <span class="icon icon-{{type}}" aria-hidden="true"></span>
                    <span class="fallback-text">{{type | replace: '_',' '}}</span>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endunless %}
         <div class="grid__item large--one-half large--text-right medium-down--text-center">
          <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</p>
        </div>
      </div>

    </div>

</footer>